h1{
    color: red;
}
.film_cont{
    margin: 0 auto;
    width: 60%;
}
.film_cont h1{
    text-decoration: underline;
}
.film_cont p{
    line-height: 2;
    font-family: Verdana;
    font-size: 20px;
}
.film_cont span{
    font-family: monospace;
    font-size: 20px;
}